Repository gracefully-ugly/gracefully-ugly, pull requests merged in 2024-05, with the labels that each got.

#42 feat : Log 전체 기능
  backend/src/main/java/com/gracefullyugly/aop/PerformanceAndSuccessLoggingAspect.java
  backend/src/main/java/com/gracefullyugly/domain/allen/news/service/NewsService.java
  backend/src/main/java/com/gracefullyugly/domain/log/controller/LogController.java
  backend/src/main/java/com/gracefullyugly/domain/log/entity/Log.java
  backend/src/main/java/com/gracefullyugly/domain/log/enumtype/LogLevel.java
  backend/src/main/java/com/gracefullyugly/domain/log/repository/LogRepository.java
  backend/src/main/java/com/gracefullyugly/domain/log/service/LogSearchService.java
  backend/src/main/java/com/gracefullyugly/domain/log/service/LogService.java
  backend/src/main/java/com/gracefullyugly/domain/report/service/ReportSearchService.java
Labels: 🍀backend

#45 feat : Item 인기 상품, 종류별 조회 기능 생성
  backend/src/main/java/com/gracefullyugly/domain/cart/service/CartService.java
  backend/src/main/java/com/gracefullyugly/domain/cart_item/dto/CartItemResponse.java
  backend/src/main/java/com/gracefullyugly/domain/item/controller/ItemController.java
  backend/src/main/java/com/gracefullyugly/domain/item/repository/ItemRepository.java
  backend/src/main/java/com/gracefullyugly/domain/item/service/ItemSearchService.java
Labels: 🍀backend

#48 feat : 리뷰 전체 기능
  backend/src/main/java/com/gracefullyugly/domain/review/controller/ReviewController.java
  backend/src/main/java/com/gracefullyugly/domain/review/dto/ReviewDto.java
  backend/src/main/java/com/gracefullyugly/domain/review/dto/ReviewDtoUtil.java
  backend/src/main/java/com/gracefullyugly/domain/review/dto/ReviewResponse.java
  backend/src/main/java/com/gracefullyugly/domain/review/entity/Review.java
  backend/src/main/java/com/gracefullyugly/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/gracefullyugly/domain/review/service/ReviewSearchService.java
  backend/src/main/java/com/gracefullyugly/domain/review/service/ReviewService.java
Labels: 🍀backend

#50 feat : Exception Handler 추가
  backend/src/main/java/com/gracefullyugly/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/gracefullyugly/common/exception/custom/AuthenticationException.java
  backend/src/main/java/com/gracefullyugly/common/exception/custom/ExistException.java
  backend/src/main/java/com/gracefullyugly/common/exception/custom/NotFoundException.java
Labels: 🍀backend

#52 feat : 이미지 업로드 데모버전
  .gitignore
  backend/build.gradle
  backend/src/main/java/com/gracefullyugly/domain/image/demo/config/S3Config.java
  backend/src/main/java/com/gracefullyugly/domain/image/demo/controller/ImageUploadController.java
  backend/src/main/java/com/gracefullyugly/domain/image/demo/service/ImageUploadService.java
  backend/src/main/resources/application.yml
Labels: 🍀backend

#65 feat : qna 테스트
  backend/src/main/java/com/gracefullyugly/common/security/controller/ReissueController.java
  backend/src/main/java/com/gracefullyugly/domain/item/dto/ItemResponse.java
  backend/src/main/java/com/gracefullyugly/domain/item/entity/Item.java
  backend/src/main/java/com/gracefullyugly/domain/item/repository/ItemRepository.java
  backend/src/main/java/com/gracefullyugly/domain/item/service/ItemSearchService.java
  backend/src/main/java/com/gracefullyugly/domain/qna/controller/QnAController.java
  backend/src/main/java/com/gracefullyugly/domain/qna/dto/AnswerDto.java
  backend/src/main/java/com/gracefullyugly/domain/qna/dto/QnADto.java
  backend/src/main/java/com/gracefullyugly/domain/qna/dto/QnADtoUtil.java
  backend/src/main/java/com/gracefullyugly/domain/qna/dto/QuestionDto.java
  backend/src/main/java/com/gracefullyugly/domain/qna/entity/QnA.java
  backend/src/main/java/com/gracefullyugly/domain/qna/service/QnASearchService.java
  backend/src/main/java/com/gracefullyugly/domain/qna/service/QnAService.java
  backend/src/main/java/com/gracefullyugly/domain/report/controller/ReportController.java
  backend/src/main/java/com/gracefullyugly/domain/report/dto/ReportDtoUtil.java
  backend/src/main/java/com/gracefullyugly/domain/report/dto/ReportRequest.java
  backend/src/main/java/com/gracefullyugly/domain/report/service/ReportService.java
  backend/src/test/java/com/gracefullyugly/domain/item/controller/api/ItemControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/item/service/ItemSearchServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/item/service/ItemServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/qna/controller/QnAControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/qna/service/QnAServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/report/controller/ReportControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/report/service/ReportServiceTest.java
  backend/src/test/java/com/gracefullyugly/testutil/SetupDataUtils.java
Labels: 🍀backend, ✅test

#68 Feat/#63 order fix
  backend/src/main/java/com/gracefullyugly/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/gracefullyugly/common/exception/custom/ForbiddenException.java
  backend/src/main/java/com/gracefullyugly/common/security/CustomUserDetails.java
  backend/src/main/java/com/gracefullyugly/domain/order/controller/OrderController.java
  backend/src/main/java/com/gracefullyugly/domain/order/service/OrderService.java
  backend/src/test/java/com/gracefullyugly/domain/order/controller/api/OrderControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/order/service/OrderServiceTest.java
  backend/src/test/java/com/gracefullyugly/testuserdetails/TestUserDetailsService.java
  backend/src/test/java/com/gracefullyugly/testutil/SetupDataUtils.java
Labels: 🍀backend, ✅test

#67 feat : 신고 조회 테스트
  backend/src/main/java/com/gracefullyugly/domain/item/controller/api/ItemController.java
  backend/src/main/java/com/gracefullyugly/domain/item/dto/ItemDtoUtil.java
  backend/src/main/java/com/gracefullyugly/domain/item/dto/ItemResponse.java
  backend/src/main/java/com/gracefullyugly/domain/item/dto/UpdateDescriptionRequest.java
  backend/src/main/java/com/gracefullyugly/domain/item/entity/Item.java
  backend/src/main/java/com/gracefullyugly/domain/item/service/ItemSearchService.java
  backend/src/main/java/com/gracefullyugly/domain/item/service/ItemService.java
  backend/src/main/java/com/gracefullyugly/domain/report/dto/ReportRequest.java
  backend/src/test/java/com/gracefullyugly/domain/item/service/ItemServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/report/service/ReportSearchServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/report/service/ReportServiceTest.java
Labels: 🍀backend, ✅test

#70 feat : 리뷰, QNA, User 테스트코드 작성
  backend/src/main/java/com/gracefullyugly/domain/qna/controller/QnAController.java
  backend/src/main/java/com/gracefullyugly/domain/qna/service/QnASearchService.java
  backend/src/main/java/com/gracefullyugly/domain/review/controller/ReviewController.java
  backend/src/main/java/com/gracefullyugly/domain/review/dto/ReviewDtoUtil.java
  backend/src/main/java/com/gracefullyugly/domain/review/dto/ReviewResponse.java
  backend/src/main/java/com/gracefullyugly/domain/review/service/ReviewSearchService.java
  backend/src/main/java/com/gracefullyugly/domain/user/controller/api/UserController.java
  backend/src/main/java/com/gracefullyugly/domain/user/dto/ValidEmail.java
  backend/src/main/java/com/gracefullyugly/domain/user/dto/ValidLoginId.java
  backend/src/main/java/com/gracefullyugly/domain/user/dto/ValidNickname.java
  backend/src/test/java/com/gracefullyugly/domain/qna/controller/QnAControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/qna/service/QnASearchServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/qna/service/QnAServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/review/service/ReviewSearchServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/review/service/ReviewServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/user/controller/api/UserControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/user/service/UserSearchServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/user/service/UserServiceTest.java
  backend/src/test/java/com/gracefullyugly/testutil/SetupDataUtils.java
Labels: 🍀backend, ✅test

#73 fix : 테스트코드 수정
  backend/src/main/java/com/gracefullyugly/domain/item/controller/api/ItemController.java
  backend/src/test/java/com/gracefullyugly/domain/item/controller/api/ItemControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/item/service/ItemSearchServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/item/service/ItemServiceTest.java
Labels: ✅test

#77 Feat/#60 groupbuy funtions - 테스트 코드 작성 및 로직 일부 수정
  backend/src/main/java/com/gracefullyugly/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuy/controller/GroupBuyController.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuy/dto/GroupBuyInfoResponse.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuy/dto/GroupBuyListResponse.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuy/dto/GroupBuySelectDto.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuy/dto/GroupBuyUpdateRequest.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuy/dto/GroupBuyUpdateResponse.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuy/entity/GroupBuy.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuy/repository/GroupBuyRepository.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuy/scheduling/CheckGroupBuyEndDateTask.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuy/service/GroupBuySearchService.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuy/service/GroupBuyService.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuyuser/controller/GroupBuyUserController.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuyuser/dto/GroupBuyUserFindResponse.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuyuser/repository/GroupBuyUserRepository.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuyuser/service/GroupBuyUserService.java
  backend/src/main/java/com/gracefullyugly/domain/item/repository/ItemRepository.java
  backend/src/main/java/com/gracefullyugly/domain/order/controller/OrderController.java
  backend/src/test/java/com/gracefullyugly/domain/cart/controller/api/CartControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/groupbuy/controller/api/GroupBuyControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/groupbuy/service/GroupBuySearchServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/groupbuy/service/GroupBuyServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/groupbuyuser/controller/api/GroupBuyUserControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/groupbuyuser/service/GroupBuyUserServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/order/controller/api/OrderControllerTest.java
  backend/src/test/java/com/gracefullyugly/testutil/SetupDataUtils.java
Labels: 🍀backend, ✅test

#84 Feat/0504 js
  backend/build.gradle
  backend/src/main/java/com/gracefullyugly/common/controller/CommonController.java
  backend/src/main/java/com/gracefullyugly/common/security/config/SecurityConfig.java
  backend/src/main/java/com/gracefullyugly/domain/allen/news/service/NewsService.java
  backend/src/main/resources/static/index.html
  backend/src/main/resources/templates/fragment/nav.html
  backend/src/main/resources/templates/index.html
  backend/src/main/resources/templates/join.html
  backend/src/main/resources/templates/join2.html
  backend/src/main/resources/templates/main.html
  backend/src/main/resources/templates/mainAfter.html
  backend/src/main/resources/templates/my-page.html
Labels: 🌸frontend

#85 feat : User Entity 수정
  backend/src/main/java/com/gracefullyugly/common/test/InitData.java
  backend/src/main/java/com/gracefullyugly/domain/item/controller/api/ItemController.java
  backend/src/main/java/com/gracefullyugly/domain/item/service/ItemSearchService.java
  backend/src/main/java/com/gracefullyugly/domain/qna/controller/QnAController.java
  backend/src/main/java/com/gracefullyugly/domain/report/controller/ReportController.java
  backend/src/main/java/com/gracefullyugly/domain/report/service/ReportService.java
  backend/src/main/java/com/gracefullyugly/domain/review/controller/ReviewController.java
  backend/src/main/java/com/gracefullyugly/domain/review/entity/Review.java
  backend/src/main/java/com/gracefullyugly/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/gracefullyugly/domain/review/service/ReviewSearchService.java
  backend/src/main/java/com/gracefullyugly/domain/review/service/ReviewService.java
  backend/src/main/java/com/gracefullyugly/domain/user/controller/api/UserController.java
  backend/src/main/java/com/gracefullyugly/domain/user/dto/AdditionalRegRequest.java
  backend/src/main/java/com/gracefullyugly/domain/user/dto/FinalRegResponse.java
  backend/src/main/java/com/gracefullyugly/domain/user/dto/UserDtoUtil.java
  backend/src/main/java/com/gracefullyugly/domain/user/entity/User.java
  backend/src/main/java/com/gracefullyugly/domain/user/repository/UserRepository.java
  backend/src/main/java/com/gracefullyugly/domain/user/service/UserSearchService.java
  backend/src/main/java/com/gracefullyugly/domain/user/service/UserService.java
  backend/src/main/java/com/gracefullyugly/domain/verification/service/VerificationService.java
  backend/src/main/resources/templates/join2.html
  backend/src/test/java/com/gracefullyugly/domain/item/controller/api/ItemControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/item/service/ItemSearchServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/report/controller/ReportControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/report/service/ReportServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/review/service/ReviewServiceTest.java
  backend/src/test/java/com/gracefullyugly/domain/user/controller/api/UserControllerTest.java
  backend/src/test/java/com/gracefullyugly/domain/user/service/UserServiceTest.java
Labels: 🍀backend

#100 Feat/#78 payment functions - 기능 구현 및 테스트
  backend/build.gradle
  backend/src/main/java/com/gracefullyugly/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuy/repository/GroupBuyRepository.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuyuser/repository/GroupBuyUserRepository.java
  backend/src/main/java/com/gracefullyugly/domain/groupbuyuser/service/GroupBuyUserService.java
  backend/src/main/java/com/gracefullyugly/domain/order/dto/OrderResponse.java
  backend/src/main/java/com/gracefullyugly/domain/order/service/OrderService.java
  backend/src/main/java/com/gracefullyugly/domain/orderitem/dto/ItemInfoToPaymentDto.java
  backend/src/main/java/com/gracefullyugly/domain/orderitem/repository/OrderItemRepository.java
  backend/src/main/java/com/gracefullyugly/domain/payment/controller/PaymentController.java
  backend/src/main/java/com/gracefullyugly/domain/payment/controller/PaymentViewController.java
  backend/src/main/java/com/gracefullyugly/domain/payment/dto/AmountDto.java
  backend/src/main/java/com/gracefullyugly/domain/payment/dto/CardInfoDto.java
  backend/src/main/java/com/gracefullyugly/domain/payment/dto/KakaoPayApproveResponse.java
  backend/src/main/java/com/gracefullyugly/domain/payment/dto/KakaoPayReadyResponse.java
  backend/src/main/java/com/gracefullyugly/domain/payment/dto/PaymentSearchDTO.java
  backend/src/main/java/com/gracefullyugly/domain/payment/dto/PaymentSearchItemDto.java
  backend/src/main/java/com/gracefullyugly/domain/payment/dto/PaymentSearchListResponse.java
  backend/src/main/java/com/gracefullyugly/domain/payment/dto/PaymentSearchOrderDto.java
  backend/src/main/java/com/gracefullyugly/domain/payment/dto/PaymentSearchPaymentDto.java
  backend/src/main/java/com/gracefullyugly/domain/payment/entity/Payment.java
  backend/src/main/java/com/gracefullyugly/domain/payment/repository/PaymentRepository.java
  backend/src/main/java/com/gracefullyugly/domain/payment/service/PaymentSearchService.java
  backend/src/main/java/com/gracefullyugly/domain/payment/service/PaymentService.java
  backend/src/test/java/com/gracefullyugly/domain/payment/service/PaymentServiceTest.java
Labels: 🍀backend, ✅test

#109 Feat/page connect
  backend/src/main/java/com/gracefullyugly/common/controller/CommonController.java
  backend/src/main/java/com/gracefullyugly/common/security/jwt/LoginFilter.java
  backend/src/main/resources/static/css/main.css
  backend/src/main/resources/static/fragment/nav.css
  backend/src/main/resources/static/fragment/nav.js
  backend/src/main/resources/static/js/mainAfter.js
  backend/src/main/resources/static/js/security.js
  backend/src/main/resources/templates/admin-report.html
  backend/src/main/resources/templates/admin.html
  backend/src/main/resources/templates/cart-list.html
  backend/src/main/resources/templates/check-order.html
  backend/src/main/resources/templates/create-order.html
  backend/src/main/resources/templates/create-review.html
  backend/src/main/resources/templates/fragment/nav.html
  backend/src/main/resources/templates/group-buying.html
  backend/src/main/resources/templates/join.html
  backend/src/main/resources/templates/join2.html
  backend/src/main/resources/templates/main.html
  backend/src/main/resources/templates/mainAfter.html
  backend/src/main/resources/templates/modify-order.html
  backend/src/main/resources/templates/my-page.html
  backend/src/main/resources/templates/purchase_history.html
  backend/src/main/resources/templates/salesPost.html
  backend/src/main/resources/templates/sellerDetails.html
  backend/src/main/resources/templates/sellerList.html
Labels: 🌸frontend

#116 Feat/#112 token expired
  backend/src/main/java/com/gracefullyugly/common/controller/CommonController.java
  backend/src/main/java/com/gracefullyugly/common/security/jwt/CustomLogoutFilter.java
  backend/src/main/java/com/gracefullyugly/common/security/jwt/JWTFilter.java
  backend/src/main/java/com/gracefullyugly/common/security/jwt/LoginFilter.java
  backend/src/main/resources/static/js/security.js
Labels: 🍀backend
